.header {
    background: #fbfeff;
}

.header__inner {
    margin: 0 auto;
    padding: 20px 15px;
    max-width: 1230px;
}

.header-utilities {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__logo {
    color: #1a4dda;
    text-decoration: none;
    font-weight: bold;
    font-size: 24px;
}

.header-utilities nav {
    width: 18%;
}

.header-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-nav__link {
    color: #fff;
    text-decoration: none;
}

.header-nav__button {
    border: none;
    background: transparent;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}






/*追加部分*/

/*
.contact__btn {
    width: 300px;
    display: block;
    padding: 25px 0 25px;
    margin: 0 auto;
    background: linear-gradient(90deg, #ff1f90, #b31566);
    border-radius: 50px;
    text-align: center;
    box-shadow: 0 4px 0 #840052;
    color: #fff;
    font-size: 18px;
    border-bottom: 6px solid #840052;
    transition: 0.4s;
    position: relative;
}
*/


.contact__btn {
    width: 300px;
    display: block;
    padding: 25px 0 25px;
    margin: 0 auto;
    background: linear-gradient(90deg, #ff1f90, #b31566);
    border-radius: 50px;
    text-align: center;
    box-shadow: 0 4px 0 #840052;
    color: #fff;
    font-size: 18px;
    border-bottom: 6px solid #840052;
    transition: 0.4s;
    position: relative;
}

.example2 {
    display: block;
}