.a__size{
  font-size: 40px;
margin-left: 525px;
text-decoration: none;
/*text-align: center;*/
color: #368cfc;
margin-top: 15px;
  
}

.a__size10 {
    font-size: 40px;
    margin-left: 525px;
    text-decoration: none;
    /*text-align: center;*/
    color: #368cfc;
    margin-top: 15px;

}

.a__size2 {

    font-size: 40px;
    margin-left: 1050px;
    text-decoration: none;
    margin-top: 700px;
color: #368cfc;

}


.a__size3 {
    /*margin-top: -100px;*/
    font-size: 40px;
    margin-left: 1050px;
    text-decoration: none;
    color: #368cfc;
    bottom: 200px;


}


.p__atsumi {
    /*margin-top: -100px;*/
   height: 200px;


}

.p__atsumi1 {
    /*margin-top: -100px;*/
    height: 25px;


}


.contact__btn3 {
    width: 50px;
    height: 50px;
    display: block;
    padding: 8px 0 8px;
    /*margin: 0 auto;*/
    background: linear-gradient(90deg, #1a7dfd, #3060fd);
    border-radius: 10px;
    /*text-align: center;*/
    box-shadow: 4px 4px 2px #b4b4b4;
    color: #fff;
    font-size: 40px;
    /*border-bottom: 3px solid #840052;*/
    transition: 0.4s;
    /*position: relative;*/
    text-decoration: none;
    margin-left: 400px;
    text-align: center;
        /* テキストを水平方向に中央に配置 */
        display: flex;
        /* Flexboxを使用して要素を中央に配置 */
        justify-content: center;
        /* 水平方向に中央に配置 */
        align-items: center;
        /* 垂直方向に中央に配置 */
}


.transparent-button {
    background-color: transparent;
    /* 背景色を透明にする */
    border: none;
    /* 枠線を非表示にする */
    padding: 0;
    /* パディングをリセットする（任意） */
    font-size: 16px;
    /* テキストのフォントサイズを設定（任意） */
    color: #000;
    /* テキストの色を設定 */
    /* 必要に応じて他のスタイルを追加 */
    font-size: 40px;
        margin-left: 525px;
        text-decoration: none;
        /*text-align: center;*/
        color: #368cfc;
        margin-top: 15px;
}


.a__size4 {
    font-size: 40px;
    margin-left: 1000px;
    text-decoration: none;
    /*text-align: center;*/
    color: #368cfc;
    margin-top: 100px;

}

.a__size5 {

    font-size: 40px;
    margin-left: 1050px;
    text-decoration: none;
    margin-top: 700px;
    color: #368cfc;

}


.a__size6 {
    /*margin-top: -100px;*/
    font-size: 40px;
    margin-left: 1050px;
    text-decoration: none;
    color: #368cfc;
    bottom: 200px;


}


.p__atsumi2 {
    /*margin-top: -100px;*/
    height: 200px;


}

.p__atsumi3 {
    /*margin-top: -100px;*/
    height: 25px;


}


.heart1 {
    /*width: 100px;*/
    width: 40px;
    /* 正方形を作る */
    /*height: 100px;*/
    height: 40px;
    /* 正方形を作る */
    position: relative;
    /* 基準位置とする */
}

.heart1::before,
.heart1::after {
    content: "";
    /* 疑似要素に必須 */
    width: 50%;
    /* ハートの丸い部分の大きさにかかわる */
    height: 80%;
    /* ハートの高さにかかわる */
    background: #c2c2c2;
    /* ハートの色 */
    border-radius: 25px 25px 0 0;
    /* ハートの半円を生成 */
    display: block;
    /* ブロック要素にする */
    position: absolute;
    /* 相対位置に指定 */
}

.heart1::before {
    transform: rotate(-45deg);
    /* 左に回転 */
    left: 14%;
    /* 左からの位置を指定 */
}

.heart1::after {
    transform: rotate(45deg);
    /* 右に回転 */
    right: 14%;
    /* 右からの位置を指定 */
}




.heart1__margin {
    margin-left: 200px;
    margin-top: -35px;
    margin-bottom: 10px;
}


.heart1__size {
    width: 80%;
    height: 80%;
}


.button__none {
    border: none;
    outline: none;
    background: transparent;
}


.heart {
    /*width: 100px;*/
    width: 40px;
    /* 正方形を作る */
    /*height: 100px;*/
    height: 40px;
    /* 正方形を作る */
    position: relative;
    /* 基準位置とする */
}

.heart::before,
.heart::after {
    content: "";
    /* 疑似要素に必須 */
    width: 50%;
    /* ハートの丸い部分の大きさにかかわる */
    height: 80%;
    /* ハートの高さにかかわる */
    background: #E0548E;
    /* ハートの色 */
    border-radius: 25px 25px 0 0;
    /* ハートの半円を生成 */
    display: block;
    /* ブロック要素にする */
    position: absolute;
    /* 相対位置に指定 */
}

.heart::before {
    transform: rotate(-45deg);
    /* 左に回転 */
    left: 14%;
    /* 左からの位置を指定 */
}

.heart::after {
    transform: rotate(45deg);
    /* 右に回転 */
    right: 14%;
    /* 右からの位置を指定 */
}




.heart__margin {
    margin-left: 200px;
    margin-top: -35px;
    margin-bottom: 10px;
}


.heart__size {
    width: 80%;
    height: 80%;
}



.transparent-button2 {
    background-color: transparent;
    /* 背景色を透明にする */
    border: none;
    /* 枠線を非表示にする */
    padding: 0;
    /* パディングをリセットする（任意） */
    font-size: 16px;
    /* テキストのフォントサイズを設定（任意） */
    color: #000;
    /* テキストの色を設定 */
    /* 必要に応じて他のスタイルを追加 */
}