.example_color {
    color: black
}

img {
    width: 100%;
    height: auto;
}

a {
    color: #707070;
    text-decoration: none;
}

li {
    list-style: none;
}

body {
    color: #707070;
    line-height: 1.7;
}

.flex__item {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.flex__item2 {
    display: flex;
    flex-wrap: wrap;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
}


.container {
    max-width: 1350px;
    height: 4000px;
}

.container7 {
    width: 700px;
    background: #e6e6e6;
    z-index: -0;
}

.small-container {
    max-width: 760px;
    margin: 80px auto 0;
}

.common__ttl {
    font-size: 24px;
    font-weight: bold;
    position: relative;
}

.common__sub-ttl {
    font-size: 16px;
    font-family: "Indie Flower", cursive;
    color: #b31566;
}

#blog {
    margin-top: 80px;
    background: #f5f5f5;
    padding: 40px 0;
}

.blog-wrap {
    z-index: 0;
}

.blog-wrap__item {
    width: 320px;
    position: relative;
    display: block;
    margin-bottom: 30px;
}

.blog-wrap__item-content {
    background: #fff;
    border-radius: 0 0 15px 15px;
    padding: 20px;
    margin-top: -7px;
}

.blog-wrap__item-eyecatch {
    border-radius: 15px 15px 0 0;
}

.blog-wrap__item-cat {
    position: absolute;
    top: 0;
    left: 0;
    background: #b31566;
    color: #fff;
    border-radius: 15px 0 0 0;
    padding: 5px 20px;
}

.blog-wrap__item-content-tag {
    font-size: 15px;
    margin-top: -40px;
    margin-left: -50px;
    color: #000;
}

.blog-wrap__item-content-tag2 {
    font-size: 15px;
    margin-top: -40px;
    margin-left: 10px;
    color: #000;
}
.blog__link {
    display: block;
    margin: 30px auto 0;
    width: 200px;
    text-align: center;
    padding: 15px 0;
    background: #fff;
    border: 2px solid #b31566;
    border-radius: 30px;
    color: #b31566;
    transition: 0.4s;
}

.blog__link:hover {
    background-color: #b31566;
    color: #fff;
    transition: 0.4s;
}


.register__shadow {
    border-radius: 10px;
    box-shadow: 4px 4px 2px #949494;
    transition: 0.4s;
    text-decoration: none;
}


.register__shadow2 {
    border-radius: 0px 15px 0px 0px;  
    box-shadow: 4px 4px 2px #949494;
    transition: 0.4s;
    text-decoration: none;
}


.blog-wrap__item-content-ttl {
    font-size: 30px;
    color: #000;
    margin-top: -5px;
}


.form__button {  
    top: 200px;
}


.form__button1 {
    margin-left: 50px;
    top: 50px;
}

.form__button-submit {
    padding: 10px;
    width: 100px;
    height: 40px;
    border: none;
    border-radius: 8px;
    background: #264dfa;
    color: #fff;
    cursor: pointer;
    margin-left: 0px;
    font-size: 16px;
}


.heart {
    /*width: 100px;*/
    width: 40px;
    /* 正方形を作る */
    /*height: 100px;*/
    height: 40px;
    /* 正方形を作る */
    position: relative;
    /* 基準位置とする */
}

.heart::before,
.heart::after {
    content: "";
    /* 疑似要素に必須 */
    width: 50%;
    /* ハートの丸い部分の大きさにかかわる */
    height: 80%;
    /* ハートの高さにかかわる */
    background: #E0548E;
    /* ハートの色 */
    border-radius: 25px 25px 0 0;
    /* ハートの半円を生成 */
    display: block;
    /* ブロック要素にする */
    position: absolute;
    /* 相対位置に指定 */
}

.heart::before {
    transform: rotate(-45deg);
    /* 左に回転 */
    left: 14%;
    /* 左からの位置を指定 */
}

.heart::after {
    transform: rotate(45deg);
    /* 右に回転 */
    right: 14%;
    /* 右からの位置を指定 */
}

.heart__margin {
    margin-left: 200px;
    margin-top: -35px;
    margin-bottom: 10px;
}

.heart__size {
    width: 80%;
    height: 80%;
}

/*↓ハート改造*/

.heart1 {
    /*width: 100px;*/
    width: 40px;
    /* 正方形を作る */
    /*height: 100px;*/
    height: 40px;
    /* 正方形を作る */
    position: relative;
    /* 基準位置とする */
}

.heart1::before,
.heart1::after {
    content: "";
    /* 疑似要素に必須 */
    width: 50%;
    /* ハートの丸い部分の大きさにかかわる */
    height: 80%;
    /* ハートの高さにかかわる */
    background: #c2c2c2;
    /* ハートの色 */
    border-radius: 25px 25px 0 0;
    /* ハートの半円を生成 */
    display: block;
    /* ブロック要素にする */
    position: absolute;
    /* 相対位置に指定 */
}

.heart1::before {
    transform: rotate(-45deg);
    /* 左に回転 */
    left: 14%;
    /* 左からの位置を指定 */
}

.heart1::after {
    transform: rotate(45deg);
    /* 右に回転 */
    right: 14%;
    /* 右からの位置を指定 */
}

.heart1__margin {
    margin-left: 200px;
    margin-top: -35px;
    margin-bottom: 10px;
}

.heart1__size {
    width: 80%;
    height: 80%;
}

.button__none {
    border: none;
    outline: none;
    background: transparent;
}

.contact__btn2 {
    width: 50px;
    height: 50px;
    display: block;
    padding: 8px 0 8px;   
    border-radius: 10px; 
    box-shadow: 4px 4px 2px #b4b4b4;
    color: #000000;   
    font-size: 35px;
    text-align: center;
    line-height: 35px;    
    transition: 0.4s;    
    text-decoration: none;
    margin-left: 400px;
}


.header__inner {
    padding: 20px 15px;
    max-width: 1230px;
    padding-left: -500px;
}

.header-utilities {
    display: flex;   
}


.header__logo {
    color: #000000;
    text-decoration: none;
    font-weight: bold;
    font-size: 45px;
    margin-left: -270px;
    padding-left: 300px;
    padding-top: 10px;
}

.blog-wrap__item {
    width: 320px;
    position: relative;
    display: block;
    margin-bottom: 30px;
}

.blog-wrap__item-content {
    background: #fff;
    border-radius: 0 0 15px 15px;
    padding: 20px;
    margin-top: -7px;
}

.blog-wrap__item-eyecatch {
    border-radius: 15px 15px 0 0;
}

.blog-wrap__item-cat {
    position: absolute;
    top: 0;
    left: 0;
    background: #b31566;
    color: #fff;
    border-radius: 15px 0 0 0;
    padding: 5px 20px;
}

.blog-wrap__item-content-tag {
    font-size: 15px;
    margin-top: -40px;
    margin-left: -50px;
    color: #000;
}

.blog-wrap__item-content-tag2 {
    font-size: 15px;
    margin-top: -40px;
    margin-left: 10px;
    color: #000;
}

.img__size1 {
    width: 800px;
    z-index: 0;
}

.p__flex1 {
    display: flex;
    height: 50px;
}

.p__margin1 {
    margin-left: 100px;
}

.area_genre {
    margin-right: 100px;
    font-size: 30px;
    width: 100px;
    height: 30px;
}

.flex {
    display: flex;
    flex-direction: row;
    background-color: yellow;
}

.box {
    background-color: rgb(32, 118, 248);
    margin-left: 100px;
    font-size: 24px;
    width: 900px;
    height: 550px;
    border-radius: 15px 15px 0px 0px;
    margin-top: 50px;
    color: white;
    padding-left: 50px;

}

.box1 {
    background-color: rgb(23, 65, 250);
    color: #ffffff;
    margin-right: 20px;
    font-size: 32px;
    width: 800px;
    height: 100px;
    border-radius: 0px 0px 15px 15px;
    margin-top: 200px;
    z-index: 0;
    margin-bottom: 0px;
}

.box2 {
    background: rgb(117, 216, 255);
    background-color: rgb(140, 219, 255);
    color: #000000;
    font-size: 32px;
    width: 600px;
    height: 300px;
    margin-left: 100px;
    margin-top: -600px;
    z-index: 0;
}


.title__res {
    color: rgb(255, 255, 255);
    font-size: 30px;
    margin-left: 140px;
    margin-top: 150px;
}

.title__res2 {
    color: rgb(0, 0, 0);
    font-size: 40px;
    margin-left: 400px;
    width: 2000px;
    padding-top: 50px;
}

.title__res3 {
    color: rgb(255, 255, 255);
    font-size: 30px;
    margin-left: 140px;
    margin-top: -70px;
}


.flex__item3 {
    display: flex;
    flex-wrap: wrap;
    margin-top: 100px;
}

.flex__item4 {
    display: flex;
    flex-wrap: wrap;
}

.flex__item5 {
    display: flex;
    flex-wrap: wrap;
}


.p_font-size1 {
    color: #000;
    font-size: 22px;
    font-weight: 30px;
    width: 900px;
    padding-bottom: 0px;
    padding-top: 0px;
    line-height: 1.1;
    font-family: Georgia, 'Times New Roman', Times, serif;

}

.new_container1 {
    width: 2850px;
    background: #e6e6e6;
    height: 3000px;
    z-index: 0;

}

.container1 {
    width: 800px;
    background: #e6e6e6;
    height: 1500px;
    z-index: 0;

}

.container2 {
    width: 400px;
    background: #e6e6e6;
    height: 1000px;
    margin-top: -1480px;
    margin-left: 1650px;
    z-index: 0;

}

.day__size {
    width: 100px;
    height: 70px;
    margin-left: 50px;
}


.confirm {
    background: #e6e6e6;
    color: rgb(255, 255, 255);
    font-size: 30px;
    margin-top: -250px;
        /* マージンに色を付ける */
    border-bottom:100px solid #e6e6e6;
    width: 1200px;
    height: 600px;

}

.confirm2 {
    background: #e6e6e6;
    color: rgb(255, 255, 255);
    font-size: 30px;
    margin-left: 1000px;
    width: 1000px;
}

.button_xy {
    margin-top: -30px;
    margin-left: 50px;
}

.day__size1 {
    width: 100px;
    height: 70px;
    margin-left: 50px;
    margin-top: -5px;
}

.day__size2 {
    width: 100px;
    height: 70px;
    margin-left: 50px;
    margin-top: 20px;
}

.day__size3 {
    width: 100px;
    height: 70px;
    margin-left: 50px;
    margin-top: -50px;
}


/*ここから過去の演習のcss*/

img {
    width: 100%;
    height: auto;
}

a {
    color: #707070;
    text-decoration: none;
}

li {
    list-style: none;
}

body {
    color: #707070;
    line-height: 1.7;
}

.small-container {
    max-width: 760px;
    margin: 80px auto 0;
}

.common__ttl {
    font-size: 24px;
    font-weight: bold;
    position: relative;
}

.common__sub-ttl {
    font-size: 16px;
    font-family: "Indie Flower", cursive;
    color: #b31566;
}

#blog {
    margin-top: 80px;
    background: #f5f5f5;
    padding: 40px 0;
}

.blog-wrap {

}

.blog-wrap__item {
    width: 320px;
    position: relative;
    display: block;
    margin-bottom: 30px;
}

.blog-wrap__item-content {
    background: #fff;
    border-radius: 0 0 15px 15px;
    padding: 20px;
    margin-top: -7px;
}

.blog-wrap__item-eyecatch {
    border-radius: 15px 15px 0 0;
}

.blog-wrap__item-cat {
    position: absolute;
    top: 0;
    left: 0;
    background: #b31566;
    color: #fff;
    border-radius: 15px 0 0 0;
    padding: 5px 20px;
}

.blog-wrap__item-content-tag {
    font-size: 15px;
    margin-top: -40px;
    margin-left: -50px;
    color: #000;
}

.blog-wrap__item-content-tag2 {
    font-size: 15px;
    margin-top: -40px;
    margin-left: 10px;
    color: #000;
}




.blog__link {
    display: block;
    margin: 30px auto 0;
    width: 200px;
    text-align: center;
    padding: 15px 0;
    background: #fff;
    border: 2px solid #b31566;
    border-radius: 30px;
    color: #b31566;
    transition: 0.4s;
}

.blog__link:hover {
    background-color: #b31566;
    color: #fff;
    transition: 0.4s;
}


.register__shadow {
    border-radius: 10px;
    box-shadow: 4px 4px 2px #949494;
    transition: 0.4s;
    text-decoration: none;
}

.register__shadow2 {
    border-radius: 0px 15px 0px 0px;
    box-shadow: 4px 4px 2px #949494;
    transition: 0.4s;
    text-decoration: none;
}

.blog-wrap__item-content-ttl {
    font-size: 30px;
    color: #000;
    margin-top: -5px;
}

.form__button {
    margin-top: -10px;
}

.form__button-submit {
    padding: 10px;
    width: 100px;
    height: 40px;
    border: none;
    border-radius: 8px;
    background: rgb(32, 118, 248);
    color: #fff;
    cursor: pointer;
    margin-left: 0px;
    font-size: 15px;
    border: none;
    border-radius: 9px 9px 9px 9px;
}

.form__button-submit2 {
    padding: 10px;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    background: rgb(32, 118, 248);
    color: #fff;
    cursor: pointer;
    margin-left: 0px;
    font-size: 10px;
    font-family: 10;
}

.form__button-submit5 {
    padding: 10px;
    width: 100px;
    height: 40px;
    border: none;
    border-radius: 8px;
    background: rgb(32, 118, 248);
    color: #fff;
    cursor: pointer;
    margin-left: 200px;
    margin-top: -300ppx;
    font-size: 15px;
    border: none;
    border-radius: 9px 9px 9px 9px;
}


.form__button-submit6 {
    padding: 10px;
    width: 100px;
    height: 40px;
    border: none;
    border-radius: 8px;
    background: rgb(158, 10, 158);
    color: #fff;
    cursor: pointer;
    margin-left: 200px;
    margin-top: -300ppx;
    font-size: 15px;
    border: none;
    border-radius: 9px 9px 9px 9px;
    z-index: 0;
}

.heart {
    /*width: 100px;*/
    width: 40px;
    /* 正方形を作る */
    /*height: 100px;*/
    height: 40px;
    /* 正方形を作る */
    position: relative;
    /* 基準位置とする */
}

.heart::before,
.heart::after {
    content: "";
    /* 疑似要素に必須 */
    width: 50%;
    /* ハートの丸い部分の大きさにかかわる */
    height: 80%;
    /* ハートの高さにかかわる */
    background: #E0548E;
    /* ハートの色 */
    border-radius: 25px 25px 0 0;
    /* ハートの半円を生成 */
    display: block;
    /* ブロック要素にする */
    position: absolute;
    /* 相対位置に指定 */
}

.heart::before {
    transform: rotate(-45deg);
    /* 左に回転 */
    left: 14%;
    /* 左からの位置を指定 */
}

.heart::after {
    transform: rotate(45deg);
    /* 右に回転 */
    right: 14%;
    /* 右からの位置を指定 */
}

.heart__margin {
    margin-left: 200px;
    margin-top: -35px;
    margin-bottom: 10px;
}

.heart__size {
    width: 80%;
    height: 80%;
}

/*↓ハート改造*/
.heart1 {
    /*width: 100px;*/
    width: 40px;
    /* 正方形を作る */
    /*height: 100px;*/
    height: 40px;
    /* 正方形を作る */
    position: relative;
    /* 基準位置とする */
}

.heart1::before,
.heart1::after {
    content: "";
    /* 疑似要素に必須 */
    width: 50%;
    /* ハートの丸い部分の大きさにかかわる */
    height: 80%;
    /* ハートの高さにかかわる */
    background: #c2c2c2;
    /* ハートの色 */
    border-radius: 25px 25px 0 0;
    /* ハートの半円を生成 */
    display: block;
    /* ブロック要素にする */
    position: absolute;
    /* 相対位置に指定 */
}

.heart1::before {
    transform: rotate(-45deg);
    /* 左に回転 */
    left: 14%;
    /* 左からの位置を指定 */
}

.heart1::after {
    transform: rotate(45deg);
    /* 右に回転 */
    right: 14%;
    /* 右からの位置を指定 */
}


.heart1__margin {
    margin-left: 200px;
    margin-top: -35px;
    margin-bottom: 10px;
}


.heart1__size {
    width: 80%;
    height: 80%;
}


.button__none {
    border: none;
    outline: none;
    background: transparent;
}


.card__margin {
    margin-left: -200px;
    width: 200px;
    margin-top: 100px;
    z-index: 0;
    display: flex;
}

.card__margin1 {
    margin-left: 20px;
    margin-top: 50px;
    z-index: 0;
    display: flex;
}


.button__margin1 {
    margin-left: 50px;
    margin-bottom: 50px;

}


/*こっからlogin、かぶったものがある場合は無効かする作業*/

.size__icon {
    width: 50px;
    height: 100px;
    background: rgb(255, 255, 255);
    /*background-color: rgb(255, 255, 255);*/
    background-color: rgb(32, 118, 248);
    color: #ffffff;
}


.icon_1 {
    /*font-size: 32px;*/
    width: 35px;
    display: flex;
    display: block;
    z-index: 0;
    margin-left: 500px;

}

.icon__flex {
    display: flex;
    display: block;
    z-index: 0;
}

.icon__left {
    /*left: 300px;*/
    /*margin-left: -110px;*/
    margin-left: 0px;
    margin-top: 100px;

}

.text__left {
    /*left: 300px;*/
    /*margin-left: -150px;*/
    margin-left: 10px;

}

.box__move {
    /*border-left:300px solid #e6e6e6;*/
    margin-left: 250px;
    margin-top: 250px;
    /*border-top: 250px solid #e6e6e6;*/
    margin-bottom: 300px;
    z-index: -1;

}

.container__color {
    margin-top: -100px;
    background: #e6e6e6;
    z-index: 0;
}


.saizensen {
    z-index: 0;
}


.display_block {
    display: block;
}

.display_flex {
    display: flex;
}


.item3 {
    width: 25%;
    /* 4列 */
    padding: 10px;
    box-sizing: border-box;
}

.text__move {
    margin-left: 1500px;
    font-size: 40px;
    font-weight: 10px;
    color: #000;
    margin-bottom: 0px;
}

.text__move1 {
    width: 500px;
    margin-left: 1500px;
    font-size: 40px;
    font-weight: 10px;
    color: #000;
}

.heart {
    /*width: 100px;*/
    width: 40px;
    /* 正方形を作る */
    /*height: 100px;*/
    height: 40px;
    /* 正方形を作る */
    position: relative;
    /* 基準位置とする */
    border: none;
    outline: none;
    background: transparent;
}

.heart::before,
.heart::after {
    content: "";
    /* 疑似要素に必須 */
    width: 50%;
    /* ハートの丸い部分の大きさにかかわる */
    height: 80%;
    /* ハートの高さにかかわる */
    background: #E0548E;
    /* ハートの色 */
    border-radius: 25px 25px 0 0;
    /* ハートの半円を生成 */
    display: block;
    /* ブロック要素にする */
    position: absolute;
    /* 相対位置に指定 */
}

.heart::before {
    transform: rotate(-45deg);
    /* 左に回転 */
    left: 14%;
    /* 左からの位置を指定 */
}

.heart::after {
    transform: rotate(45deg);
    /* 右に回転 */
    right: 14%;
    /* 右からの位置を指定 */
}

.heart__margin {
    margin-left: 200px;
    margin-top: -35px;
    margin-bottom: 10px;
}

.heart__size {
    width: 80%;
    height: 80%;
}

/*↓ハート改造*/

.heart1 {
    /*width: 100px;*/
    width: 40px;
    /* 正方形を作る */
    /*height: 100px;*/
    height: 40px;
    /* 正方形を作る */
    position: relative;
    /* 基準位置とする */
    border: none;
    outline: none;
    background: transparent;
}

.heart1::before,
.heart1::after {
    content: "";
    /* 疑似要素に必須 */
    width: 50%;
    /* ハートの丸い部分の大きさにかかわる */
    height: 80%;
    /* ハートの高さにかかわる */
    background: #c2c2c2;
    /* ハートの色 */
    border-radius: 25px 25px 0 0;
    /* ハートの半円を生成 */
    display: block;
    /* ブロック要素にする */
    position: absolute;
    /* 相対位置に指定 */
}

.heart1::before {
    transform: rotate(-45deg);
    /* 左に回転 */
    left: 14%;
    /* 左からの位置を指定 */
}

.heart1::after {
    transform: rotate(45deg);
    /* 右に回転 */
    right: 14%;
    /* 右からの位置を指定 */
}


.heart1__margin {
    margin-left: 200px;
    margin-top: -35px;
    margin-bottom: 10px;
}


.heart1__size {
    width: 80%;
    height: 80%;
}


.button__none {
    border: none;
    outline: none;
    background: transparent;
}


.attendance__alert--success {
    padding: 10px 30px;
    border-color: #badbcc;
    background-color: #d1e7dd;
    color: #0f5132;
}

.attendance__alert--danger {
    padding: 10px 0;
    border-color: #f5c2c7;
    background-color: #f8d7da;
    color: #842029;
}

.attendance__alert--danger ul {
    margin: 0;
}

.attendance__panel {
    margin: 0 auto;
    width: 70%;
}

.attendance__button {
    width: 100%;
    text-align: center;
}

.attendance__button-submit {
    padding: 5px;
    width: 30%;
    height: 50px;
    border: none;
    border-radius: 3px;
    background: #000;
    color: #fff;
    cursor: pointer;
}

.attendance__content {
    margin: 0 auto;
    padding: 30px 15px;
    max-width: 1230px;
}

.attendance-table {
    margin: 30px auto;
    width: 70%;
    text-align: center;
}

.attendance-table__inner {
    width: 100%;
}

.attendance-table__row {
    border-bottom: 1px solid #ddd;
}

.attendance-table__header {
    padding: 12px;
    width: 20%;
    font-weight: bold;
}

.attendance-table__item {
    padding: 12px;
    width: 20%;
}



/*ここから過去の演習のcss*/

img {
    width: 100%;
    height: auto;
}

a {
    color: #707070;
    text-decoration: none;
}

li {
    list-style: none;
}

body {
    color: #707070;
    line-height: 1.7;
}

.flex__item {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}



.small-container {
    max-width: 760px;
    margin: 80px auto 0;
}

.common__ttl {
    font-size: 24px;
    font-weight: bold;
    position: relative;
}

.common__sub-ttl {
    font-size: 16px;
    font-family: "Indie Flower", cursive;
    color: #b31566;
}




#blog {
    margin-top: 80px;
    background: #f5f5f5;
    padding: 40px 0;
}

.blog-wrap {
    /*margin-top: 30px;*/
    /*margin-bottom: 30px;*/
}


.blog-wrap__item {
    width: 320px;
    position: relative;
    display: block;
    margin-bottom: 30px;

}

.blog-wrap__item-content {
    background: #fff;
    border-radius: 0 0 15px 15px;
    padding: 20px;
    margin-top: -7px;
}

.blog-wrap__item-eyecatch {
    border-radius: 15px 15px 0 0;
}

.blog-wrap__item-cat {
    position: absolute;
    top: 0;
    left: 0;
    background: #b31566;
    color: #fff;
    border-radius: 15px 0 0 0;
    padding: 5px 20px;
}

.blog-wrap__item-content-tag {
    /*font-size: 14px;*/

    font-size: 15px;


    /*margin-top: 30px;*/

    margin-top: -40px;
    margin-left: -50px;
    color: #000;


}

.blog-wrap__item-content-tag2 {
    font-size: 15px;
    margin-top: -40px;
    margin-left: 10px;
    color: #000;


}




.blog__link {
    display: block;
    margin: 30px auto 0;
    width: 200px;
    text-align: center;
    padding: 15px 0;
    background: #fff;
    border: 2px solid #b31566;
    border-radius: 30px;
    color: #b31566;
    transition: 0.4s;
}

.blog__link:hover {
    background-color: #b31566;
    color: #fff;
    transition: 0.4s;
}

/*ここから下が自前*/








.register__shadow {


    border-radius: 10px;
    /*text-align: center;*/
    box-shadow: 4px 4px 2px #949494;

    transition: 0.4s;

    text-decoration: none;

}


.register__shadow2 {


    border-radius: 0px 15px 0px 0px;
    /*text-align: center;*/
    box-shadow: 4px 4px 2px #949494;

    transition: 0.4s;

    text-decoration: none;

}


.blog-wrap__item-content-ttl {
    font-size: 30px;
    color: #000;
    margin-top: -5px;
}



.form__button {
    /*margin-top: 20px;*/
    margin-top: -10px;

}







.blog-wrap__item {
    width: 320px;
    position: relative;
    display: block;
    margin-bottom: 30px;

}

.blog-wrap__item-content {
    background: #fff;
    border-radius: 0 0 15px 15px;
    padding: 20px;
    margin-top: -7px;
}

.blog-wrap__item-eyecatch {
    border-radius: 15px 15px 0 0;
}

.blog-wrap__item-cat {
    position: absolute;
    top: 0;
    left: 0;
    background: #b31566;
    color: #fff;
    border-radius: 15px 0 0 0;
    padding: 5px 20px;
}

.blog-wrap__item-content-tag {
    /*font-size: 14px;*/

    font-size: 15px;


    /*margin-top: 30px;*/

    margin-top: -40px;
    margin-left: -50px;
    color: #000;


}

.blog-wrap__item-content-tag2 {
    /*font-size: 14px;*/

    font-size: 15px;


    /*margin-top: 30px;*/

    margin-top: -40px;
    margin-left: 10px;
    color: #000;


}


.blog-wrap__item-content-ttl {
    font-size: 30px;
    color: #000;
    margin-top: -5px;
}


.container__move7 {
    /*margin-left: 1500px;*/
    margin-left: 1500px;
    margin-top: -7810px;

}


.background {
    background: #e6e6e6;
    /*height: 1100px;*/
    z-index: 0;
}

.background__zenntai{
    background: #e6e6e6;
    /*height: 1100px;*/
    z-index: -0;
    width: 4000px;
    height: 8000px;

}

.form__left {
    margin-left: 500px;
    margin-top: -70px;

}

.form__left12 {
    margin-left: 500px;
    margin-top: -70px;

}


.heart__margin {
    margin-left: 200px;
    margin-top: -45px;
    margin-bottom: 10px;
}

.heart1__margin {
    margin-left: 200px;
    margin-top: -55px;
    margin-bottom: 10px;
}

.z__index{
    z-index: 0;
}