.login-form__content {
    margin: 0 auto;
    padding: 0px 0px 0px 0px;
    max-width: 100px;
}

.login-form__heading {
    margin-bottom: 20px;
    /*text-align: center;*/
    /*background: #264dfa;*/
    color: white;
}

.form {
    margin: 0 auto;
    width: 25%;
    text-align: center;
}

.form__group {
    margin-bottom: 5px;
}

.form__group-title {
    text-align: left;
}

.form__error {
    height: 20px;
    color: #ff0000;
    text-align: left;
}

.form__input--text input {
    padding: 10px;
    width: 420px;
    height: 40px;
    border: none;
    outline: none;
    border-bottom: 2px solid #000000;
    padding: 5px 10px;
    appearance: none;
}

.form__button {
    margin-top: 20px;
}

.form__button-submit {
    padding: 10px; 
    width: 100px;
    height: 50px;
    border: none;
    border-radius: 8px;
    background: #264dfa;
    color: #fff;
    cursor: pointer;
    margin-left: 180px;
    display: block;
    margin: auto;
    margin-top: 50px;
}

.register__link {
    margin-top: 20px;
    text-align: center;
}


.container {
    max-width: 560px;
    margin: 0 auto;
    border-radius: 6px;
}

.container-2 {
    max-width: 560px;
    margin: 0 auto;
    padding: 6px 6px 6px 6px; 
    border-radius: 6px;
}

.register__content {
    max-width: 560px; 
    margin: 0 auto;
    border-radius: 6px 6px 6px 6px;
    background: #d6d6d6;   
}

.background {
    background: #e6e6e6;
    height: 2000px;
}

.service-wrap__item-content {
    margin-left: 15px;
}

.service-wrap__item img,
.service-wrap__item--first img {
    width: 140px;
    display: inline-block;
}

.service-wrap__item--first {
    grid-column: 1/2;
    grid-row: 1/3;
    background: #b31566;
    padding: 40px 50px;
}

.container__color {
    background: #264dfa;
    padding: 10px 10px;
    border-radius: 6px 6px 6px 6px;
}

.flex {
    display: flex;
    justify-content: flex-start;
    background-color: yellow;
}

.box {
    background-color: red;
    margin-right: 20px;
    font-size: 32px;
    width: 100px;
    height: 100px;
}

.hed_color {
    background: #264dfa;
}

.container__color2 {
    background: #ffffff;
    padding: 40px 50px;
    border-radius: 6px 6px 6px 6px;    
}

.register__shadow {
    border-radius: 10px;    
    box-shadow: 4px 4px 2px #949494;
    transition: 0.4s;
    text-decoration: none;
}

.background-2 {
    background: #d6d6d6;
    max-width: 1350px;
    height: 1000px;
}

.mail {    
    font-size: 22px;
    position: relative;
    width: 0;
    height: 0;
    border-right: 0.8em solid transparent;
    border-left: 0.8em solid transparent;   
    border-top: 0.6em solid #303030;
    border-radius: 0.1em;
}

/* 下 */
.mail::before {
    position: absolute;
    content: "";
    top: -0.5em;
    left: -0.8em;
    width: 0;
    height: 0;
    border-top: 0.6em solid transparent;
    border-bottom: 0.5em solid #303030;
    border-left: 0.8em solid #303030;
    border-right: 0.8em solid #303030;
    border-radius: 0 0 0.1em 0.1em;
}

.icon_1 {
    /*font-size: 32px;*/
    width: 35px;


}

.icon__flex {
    display: flex;
}

.icon__left {   
    margin-left: -180px;
}

.text__left {   
    margin-left: 10px;

}

.flex1 {
    display: flex;
    flex-direction: row;
    background: #e6e6e6;
}

.box1 {
    background-color: rgb(255, 255, 255);
    margin-right: 20px;
    font-size: 20px;
    width: 700px;
    height: 450px;
    text-align: center;
    border-radius: 6px 6px 6px 6px;
    box-shadow: 4px 4px 2px #949494;
}

.h2_top{
    margin-top: 100px;
}